<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h3 class="display-4 fw-bolder">
        <strong class="text-red">La solution</strong>
        pour le support de cours numérique
      </h3>

      <strong class="display-6 fw-normal text-white-50 mb-0">
        À destination de tous les étudiants
      </strong>
    </div>
  </div>
</header>
