        <!-- Navigation-->
        <% include partials/navigation %>

        <!-- Header-->
        <% include partials/headerNew %>

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
							<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nouveau</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/4d494d/ffffff.jpg&text=-TI-+Niveau+1" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">examens part1</h5>
                                    <!-- Product price-->
                                    -TI-
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://drive.google.com/file/d/1j1UEuj57eLNg9zFQ7dj9y-xbB8b4Z5u7/view">Decouvrir</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/4d494d/ffffff.jpg&text=-TI-+Niveau+1" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">examens part2</h5>
                                    <!-- Product price-->
                                    -TI-
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://drive.google.com/file/d/1QMkmaaTRQoQNp1FtrNv4yT6XMgRw0WAk/view">Decouvrir</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/4d494d/ffffff.jpg&text=-TI-+Niveau+1" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">examens part3</h5>
                                    <!-- Product price-->
                                    -TI-
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://drive.google.com/file/d/1x7C7gqMLdyfACOcFIvDcVVVhPrZ1pWpg/view">Decouvrir</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/4d494d/ffffff.jpg&text=-DSI/RSI/MDW/SEM-+Niveau+2" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">examens part1</h5>
                                    <!-- Product price-->
                                    -DSI/RSI/MDW/SEM- Niveau 2
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://drive.google.com/file/d/1Nk54iWWEiVkxvvlwbLUveKgvcj2c2mJ6/view">Decouvrir</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/4d494d/ffffff.jpg&text=-DSI/RSI/MDW/SEM-+Niveau+2" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">examens part2</h5>
                                    <!-- Product price-->
                                    -DSI/RSI/MDW/SEM- Niveau 2
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://drive.google.com/file/d/1Qt6yOuEpfR_DyHlZNGYLNjxWVh6G-Pc2/view">Decouvrir</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
							<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nouveau</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/4d494d/ffffff.jpg&text=-DSI/RSI/MDW/SEM-+Niveau+2" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">examens part3</h5>
                                    <!-- Product price-->
                                    -DSI/RSI/MDW/SEM- Niveau 2
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://drive.google.com/file/d/1L0AYZSVyoYjskiWEBIus9m4APdjTdMP5/view">Decouvrir</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
							<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nouveau</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/4d494d/ffffff.jpg&text=-DSI/RSI/MDW/SEM-+Niveau+2" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">examens part4</h5>
                                    <!-- Product price-->
                                    -DSI/RSI/MDW/SEM- Niveau 2
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://drive.google.com/file/d/1s2YrVPrpFmYT4eeVfCbskrMz3qSm_BgZ/view">Decouvrir</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/4d494d/ffffff.jpg&text=-DSI/RSI/MDW/SEM-+Niveau+2" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">examens part5</h5>
                                    <!-- Product price-->
                                    -DSI/RSI/MDW/SEM- Niveau 2
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://drive.google.com/file/d/18Z9-z5KMmzSY1XFgDfnH2qzwCsB1X_Lx/view">Decouvrir</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/4d494d/ffffff.jpg&text=-DSI/RSI/MDW/SEM-+Niveau+2" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">examens part6</h5>
                                    <!-- Product price-->
                                    -DSI/RSI/MDW/SEM- Niveau 2
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://drive.google.com/file/d/1WqqZdpNH3QgOzFpxWW6ujeL8DzNYdTGw/view">Decouvrir</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/4d494d/ffffff.jpg&text=-DSI/RSI/MDW/SEM-+Niveau+2" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">examens part7</h5>
                                    <!-- Product price-->
                                    -DSI/RSI/MDW/SEM- Niveau 2
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://drive.google.com/file/d/17PaHHirEPPugPtauzmmj1zXl1mApsDJJ/view">Decouvrir</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/4d494d/ffffff.jpg&text=-DSI/RSI/MDW/SEM-+Niveau+2" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">examens part8</h5>
                                    <!-- Product price-->
                                    -DSI/RSI/MDW/SEM- Niveau 2
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://drive.google.com/file/d/1tQKWVgXXGQbIOe4LswhMzdkMhssBRVwG/view">Decouvrir</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
							<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nouveau</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/4d494d/ffffff.jpg&text=-DSI/RSI/MDW/SEM-+Niveau+3" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">examens part1</h5>
                                    <!-- Product price-->
                                    -DSI/RSI/MDW/SEM- Niveau 3
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://drive.google.com/file/d/18Ce2VZlO90B5lWjZjd3Q3g-TlKM7gmub/view">Decouvrir</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/4d494d/ffffff.jpg&text=-DSI/RSI/MDW/SEM-+Niveau+3" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">examens part2</h5>
                                    <!-- Product price-->
                                    -DSI/RSI/MDW/SEM- Niveau 3
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <% include ./partials/footerNew %>

